.columMoneda {
    text-align: right;
}

.encabezado {
    text-align: center;
}

.columNum {
    text-align: center;
}

.centrarbotones {
    text-align: center;
}

.table {
    font-size: 13px;
    width: 90%;
    border-collapse: collapse;
    line-height: 27px;
}

.table td:first-child,
.table th:first-child {
    width: 2%;
    /* Porcentaje deseado para la primera columna */
}

.table td:nth-child(2),
.table th:nth-child(2) {
    width: 5%;
    /* Porcentaje deseado para la segunda columna */
}

.table td:nth-child(3),
.table th:nth-child(3) {
    width: 5%;
    /* Porcentaje deseado para la tercera columna */
}

.table td:nth-child(4),
.table th:nth-child(4) {
    width: 30%;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(5),
.table th:nth-child(5) {
    width: 5%;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(6),
.table th:nth-child(6) {
    width: 8%;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(7),
.table th:nth-child(7) {
    width: 8%;
    /* Porcentaje deseado para la cuarta columna */
}

.table td:nth-child(8),
.table th:nth-child(8) {
    width: 14%;
    /* Porcentaje deseado para la cuarta columna */
}

.btn {
    width: 70px;
    height: 30px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}

#button-addon1 {
    height: auto;
    padding: 2px;
    font-size: 12px;
    text-align: center;
}

#button-addon2 {
    height: auto;
    padding: 2px;
    font-size: 12px;
    text-align: center;
}

.custom-width {
    width: 500px;
}

.custom-width2 {
    width: 500px;
}

.btn-success {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Ancho del botón */